<html>
  <head>
    <title>Meeting Manager</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bs.css') }}">
  </head>
  
  <body style="padding-top:80px;">
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">NISB Meeting Management</a>
        <ul class="nav navbar-nav">
          <li class=""><a href="/">Home</a></li>
          <li><a href="/add">Add Meeting</a></li>
        </ul>
      </div>
    </nav>
    
    <div class="container">    
    
    {% for x in data %} 
      <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Meeting at 
          <b><a href="/filter/venue/{{ x[1] }}">{{ x[1] }}</a></b> 
          on <b>{{ x[2] }}</b></div>
        <div class="panel-body">
          <b>Objectives :</b> <pre>{{ x[3] }}</pre> <br>
          <b>Outcomes :</b> <pre>{{ x[4] }}</pre>
        </div>
        <div class="panel-footer">
          <a href="/edit/{{ x[0] }}" class="btn btn-primary">Edit</a>
          <a href="/remove/{{ x[0] }}" class="btn btn-warning">Remove</a>
        </div>
      </div>
      </div>
    {% endfor %}
    
      
      <style>
        pre {
          background:#fff;
          border:0px;
        }
      </style>
    </div>
    <script src="{{ url_for('static',filename='jq.js') }}"></script>
    <script src="{{ url_for('static',filename='bs.js') }}"></script>
  </body>
</html>